{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}| Forget Password Step-1{% endblock %}
{% block bodyclass %}class="inner-pages"{% endblock %}
{% block body %}
        <div class="site-container">
          <div class="py-5">
            <div class="container">
              <div class="login-box card-shadow">
                <div class="login-head text-center">
                  <figure>
                    <img src="{% static 'frontend/assets/images/forgot-password.svg' %}">
                  </figure>
                  <h4>Forgot Password</h4>
                  <p>Please enter your email address to receive a verification link</p>
                </div>
                <div class="form-box">
                  <form class="needs-validation" method="POST" novalidate>
                    {% csrf_token %}
                      <div class="form-group">
                        <label for="login-email" class="form-label">Phone/Email address</label>
                        <div class="input-group has-validation">
                          <span class="input-group-text" id="inputGroupPrepend">
                            <i data-feather="mail"></i>
                          </span>
                          <input type="text" name="email" value="{{data.email}}" class="form-control" id="login-email" aria-describedby="inputGroupPrepend" placeholder="Phone/Email address" required="">
                          <div class="invalid-feedback">
                            Please enter right email address.
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-0">
                        <button class="btn btn-primary w-100" type="submit">Submit</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>  
    <script type="text/javascript">
      // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
    </script>
{% endblock %}