{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}| Forget Password Step-3{% endblock %}
{% block bodyclass %}class="inner-pages"{% endblock %}
{% block body %}
        <div class="site-container">
          <div class="py-5">
            <div class="container">
              <div class="login-box card-shadow">
                <div class="login-head text-center">
                  <figure>
                    <img src="{% static 'frontend/assets/images/reset-password.svg' %}">
                  </figure>
                  <h4>Reset password</h4>
                  <p>Please enter your new password below</p>
                </div>
                <div class="form-box">
                  <form class="needs-validation" method="POST">
                    {% csrf_token %}
                      <div class="form-group">
                        <label class="form-label">New password</label>
                        <div class="input-group">
                          <span class="input-group-text" id="inputGroupPrepend">
                            <i data-feather="lock"></i>
                          </span>
                          <input type="password" name="password" class="form-control" placeholder="Enter new password">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="form-label">Confirm Password</label>
                        <div class="input-group">
                          <span class="input-group-text" id="inputGroupPrepend">
                            <i data-feather="lock"></i>
                          </span>
                          <input type="password" name="confirm_password" class="form-control" placeholder="Enter confirm password">
                        </div>
                      </div>
                      <div class="form-group mb-0">
                        <button class="btn btn-primary w-100" type="submit">Submit</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}