{% extends "admin/base.html" %}
{% load static %}
{% block title %}| Edit Subscription{% endblock %}
{% block body %}
<!-- <style>
    #document::after{
        content: "{{user.document}}.name";
    }
</style> -->
<div class="container-login">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="login-form">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">User</h1>
                                </div>
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Plan Name <sup style="color: red;">&#9733;</sup></label>
                                        <input type="text" class="form-control" id="name" value="{{subscription_plan.name}}" name="name" placeholder="Enter Plan Name"
                                            maxlength="20">
                                    </div>
                                    {% if not subscription_plan.is_free %}
                                    <div class="form-group" style="position: relative;">
                                        <label>Plan Original Price <sup style="color: red;">&#9733;</sup></label>
                                        <input type="text" class="form-control" id="mobile" value="{{subscription_plan.original_price}}" name="original_price"
                                            placeholder="Enter Price" minlength="2" maxlength="4"
                                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" readonly>
                                    </div>
                                    <div class="form-group" style="position: relative;">
                                        <label>Interval <sup style="color: red;">&#9733;</sup></label>
                                        <input type="text" class="form-control" id="mobile" value="{{subscription_plan.interval}}"
                                            name="original_price" placeholder="Enter Price" minlength="2" maxlength="4"
                                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label>Recurring Type <sup style="color: red;">&#9733;</sup></label>
                                        <select class="form-control" id="choices" name="recurring_type">
                                            <option value="AUTO"  {% if subscription_plan.recurring_type == 'AUTO' %} selected {% endif %}>Auto</option>
                                            <option value="MANUALLY" {% if subscription_plan.recurring_type == 'MANUALLY' %} selected {% endif %}>Manually</option>
                                        </select>
                                    </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <label for="email-id-icon" id="email-body">Description <sup style="color: red;">&#9733;</sup></label>
                                        <textarea value="{{subscription_plan.desc}}" name="desc">{{subscription_plan.description|safe}}</textarea>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-sm"
                                                style="margin-right: 2px;">Save</button>
                                        </div>
                                        <div class="form-group">
                                            <a href="{% url 'subscription_plan_listing' %}"><button type="button"
                                                    class="btn btn-danger btn-sm">Cancel</button></a>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <div class="text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.19.1/ckeditor.js"></script>
<script>
    CKEDITOR.replace('desc');
</script>
{% endblock %}