{% load static %}
<script src="{% static 'admin/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'admin/js/ruang-admin.min.js' %}"></script>
<script src="{% static 'admin/vendor/chart.js/Chart.min.js' %}"></script>
<script>
    setTimeout(() => {
        $('.alert').fadeOut('fast');
    }, 2000);
</script>

