{% extends "admin/base.html" %}
{% load static %}
{% block title %}| Edit Tier{% endblock %}
{% block body %}
<div class="container-login">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="login-form">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Edit Tier</h1>
                                </div>
                                <form method="POST" id="myForm">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Tier Category <sup style="color: red;">&#9733;</sup></label>
                                        <select class="form-control" id="EducationBoard" name="tier"><option>---select---</option>
                                            <option value="TIER 1" {% if store_tier.category == 'TIER 1' %}selected{% endif %}>TIER 1</option>
                                            <option value="TIER 2" {% if store_tier.category == 'TIER 2' %}selected{% endif %}>TIER 2</option>
                                            <option value="TIER 3" {% if store_tier.category == 'TIER 3' %}selected{% endif %}>TIER 3</option>
                                        </select> 
                                    </div>
                                    <div class="form-group" style="position: relative;">
                                        <label>Starting Price <sup style="color: red;">&#9733;</sup></label>
                                        <input type="text" class="form-control" id="mobile" value="{{store_tier.starting_price}}" name="starting_price"
                                            placeholder="Enter Starting price" maxlength="8" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                    </div>
                                    <div class="form-group">
                                        <label>Ending Price <sup style="color: red;">&#9733;</sup></label>
                                        <input type="text" class="form-control" id="email" value="{{store_tier.end_price}}" name="end_price"
                                            aria-describedby="emailHelp" placeholder="Enter Ending price"
                                             maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <label>Interest <sup style="color: red;">&#9733;</sup></label>
                                        <input type="text" class="form-control" id="email" value="{{store_tier.interest}}" name="interest"
                                            aria-describedby="emailHelp" placeholder="Enter interest"
                                             maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <label>Interval Month <sup style="color: red;">&#9733;</sup></label>
                                        <input type="text" class="form-control" id="email" value="{{store_tier.interval_month}}" name="month"
                                            aria-describedby="emailHelp" placeholder="Enter max month"
                                             maxlength="50">
                                    </div>
                                    <div class="form-group">
                                        <label>Description <sup style="color: red;">&#9733;</sup></label>
                                        <input type="text" class="form-control" id="email" value="{{store_tier.description}}" name="desc"
                                            aria-describedby="emailHelp" placeholder="Enter description"
                                             maxlength="200">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary btn-sm" onclick="showLoader()" style="margin-right: 2px;">Save</button>
                                        </div>    
                                        <div class="form-group">
                                            <a href="{% url 'store_tier_listing' %}"><button type="button" class="btn btn-danger btn-sm">Cancel</button></a>
                                        </div>
                                    </div>   
                                </form>
                                <hr>
                                <div class="text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $('input[type="file"]').change(function (e) {
            var change_name = "{{ user.document}}"[0].name;
            $("h4").text(change_name + ' is the selected file.');
        });
    });
</script>
{% endblock %}