{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'admin/img/logo/logo.png' %}" rel="icon">
    <title>AdminPanel {% block title %}| Forget Password{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script type="text/javascript" src="{% static 'admin/js/mycustom.js' %}"></script>
    <link href="{% static 'admin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'admin/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'admin/css/ruang-admin.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container-login">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="card shadow-sm my-5">
                    <div class="card-body p-0">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="login-form">
                                    <div class="text-center">
                                        {% if messages %}
                                        {% for message in messages %}
                                        {% if message.tags == 'success'%}
                                        <script>
                                            myToast("{{message}}", SUCCESS);
                                        </script>
                                        {% elif message.tags == 'error' %}
                                        <script>
                                            myToast("{{message|safe}}", ERROR);
                                        </script>
                                        {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                        <h1 class="h4 text-gray-900 mb-4">Forget Password</h1>
                                    </div>
                                    <form class="user" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="password" name="newPassword" value="{{data.newPassword}}" class="form-control"
                                                id="password1" aria-describedby="emailHelp"
                                                placeholder="Enter New Password">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="confirmPassword" value="{{data.confirmPassword}}" class="form-control" id="password2" aria-describedby="emailHelp"
                                            placeholder="Enter Confirm Password">   
                                        </div>
                                        <input type="checkbox" onclick="myFunction()">Show Password
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">
                                                Save</button> 
                                        </div>
                                    </form>
                                    <a href="{% url 'admin_login' %}">
                                        <p class="text-center">Login</p>
                                    </a>
                                    <div class="text-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- {% include 'admin/include/footer.html' %} -->
    {% include 'admin/include/scripts.html' %}
    {% block script %}
    <script>
        function myFunction() {
                const x = document.getElementById("password1");
                const y = document.getElementById("password2");
                if (x.type === "password") {
                    y.type = "text";
                    x.type = "text";
                } else {
                    x.type = "password";
                    y.type = "password";
                }
            } 
    </script>
    {% endblock %}
</body>
</html>