<html>
   <head>
      <meta charset="utf-8">
      <title>:: Cashuu ::</title>
      <!--responsive-meta-here-->
      <meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0,width=device-width, user-scalable=no">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
      <!--responsive-meta-end-->
      <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
      <link href="assets/css/fontawesome-all.min.css" rel="stylesheet"/>
      <link rel="stylesheet" href="assets/css/owl.carousel.min.css" rel="stylesheet"/>
      <link rel="stylesheet" href="assets/fonts/remixicon.css" rel="stylesheet"/>
      <link rel="stylesheet" href="assets/css/fontawesome-all.css" rel="stylesheet"/>
      <link rel="stylesheet" href="assets/css/fontawesome.css" rel="stylesheet"/>
      <link rel="stylesheet" href="assets/css/style.css" rel="stylesheet"/>
      <!-- <link rel="stylesheet" href="css/responsive.css" rel="stylesheet"/> -->
   </head>
   <body>
    <div class="wraper-main">
        <header>
          <nav class="navbar navbar-expand-lg">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="assets/images/logo.png">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>                                      
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About us</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link" href="#">How it works</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Blogs</a>
                  </li>
                </ul>
                <div class="button-header">
                  <a href="javascript:;" class="btn btn-primary">Contact Us</a>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Signup
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Borrower</a></li>
                      <li><a class="dropdown-item" href="#">Lender</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </header>
        <div class="site-container">
          <section class="home-banner">
            <div class="left-shape">
              <div class="home-shape-in l-gry"></div>
              <div class="home-shape-in l-blue"></div>
              <div class="home-shape-in l-pink"></div>
            </div>
            <div class="right-shape">
              <div class="home-shape-in l-gry"></div>
              <div class="home-shape-in l-pink"></div>
              <div class="home-shape-in l-blue"></div>
            </div>
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="home-banner-text">
                    <h1>Earn up to 14% p.a. with Cashuu</h1>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <a href="javascript:;" class="btn btn-primary">Start Inversting</a>
                  </div>
                </div>
                <div class="col-md-5 ms-auto text-end">
                  <figure>
                    <img src="assets/images/mobile.png">
                  </figure>
                </div>
              </div>
            </div>
          </section>
          <section class="how-it-work section-padding">
            <div class="container">
              <div class="headings">
                <span>How it works</span>
                <h2>Create an account in 5 minutes </h2>
              </div>
              <div class="row">
                <div class="col-md-3 how-it-work-box">
                  <article>
                    <figure>
                      <i class="ri-ball-pen-fill"></i>
                    </figure>
                    <figcaption>
                      <h4>Register</h4>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </figcaption>
                  </article>
                </div>
                <div class="col-md-3 how-it-work-box">
                  <article>
                    <figure>
                      <i class="ri-hand-coin-fill"></i>
                    </figure>
                    <figcaption>
                      <h4>Choose investment strategy</h4>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </figcaption>
                  </article>
                </div>
                <div class="col-md-3 how-it-work-box">
                  <article>
                    <figure>
                      <i class="ri-funds-fill"></i>
                    </figure>
                    <figcaption>
                      <h4>We allocate your funds</h4>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </figcaption>
                  </article>
                </div>
                <div class="col-md-3 how-it-work-box">
                  <article>
                    <figure>
                      <i class="ri-send-plane-fill"></i>
                    </figure>
                    <figcaption>
                      <h4>Reinvest, or withdraw </h4>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </figcaption>
                  </article>
                </div>
              </div>
              <div class="video-how">
                <img src="assets/images/how.jpg">
                <div class="video-how-btn" data-bs-toggle="modal" data-bs-target="#videomodal">
                  <a href="javascript:;"><i class="ri-play-fill"></i></a>
                </div>
              </div>
            </div>
          </section>
          <section class="about-home">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-5 ms-auto">
                  <figure>
                    <img src="assets/images/about.png">
                  </figure>
                </div>
                <div class="col-md-6">
                  <div class="headings">
                    <span>About us</span>
                    <h2>Best way to manage your customers.</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industrys standard dummy text ever since the when an unknown printer took a galley of type </p>
                    <a href="javascript:;" class="btn btn-white mt-5">Read more</a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="app-info section-padding">
            <div class="container">
              <div class="app-info-box app-info-box1">
                <div class="row justify-content-between align-items-center">
                  <div class="col-md-5">
                    <div class="headings">
                      <h2>Simple, & hassle-free Personal Loan </h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industrys standard dummy text ever since the when an unknown printer took a galley of type </p>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <figure>
                      <img src="assets/images/app1.png" width="100%">
                    </figure>
                  </div>
                </div>
              </div>
              <div class="app-info-box app-info-box2">
                <div class="row justify-content-between align-items-center">
                  <div class="col-md-5">
                    <figure>
                      <img src="assets/images/app1.png" width="100%">
                    </figure>
                  </div>
                  <div class="col-md-5">
                    <div class="headings">
                      <h2>Save more by choosing the right loan. </h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industrys standard dummy text ever since the when an unknown printer took a galley of type </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="app-info-box app-info-box1">
                <div class="row justify-content-between align-items-center">
                  <div class="col-md-5">
                    <div class="headings">
                      <h2>Check your Credit Score in just 1 minute.</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industrys standard dummy text ever since the when an unknown printer took a galley of type </p>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <figure>
                      <img src="assets/images/app1.png" width="100%">
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="sec-secure section-padding pt-0">
            <div class="container">
              <div class="sec-secure-text text-center">
                <img src="assets/images/secure.svg">
                <h4>Your finances, safe and secure</h4>
                <p>With 256-bit encryption and multi-factor authentication, we protect your info as if it’s our own.</p>
              </div>
            </div>
          </section>
          <section class="faq-sec section-padding">
            <div class="container">
              <div class="headings text-center w-50 m-auto mb-5">
                <span>FAQs</span>
                <h2>Frequently Asked Questions</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typese tting indus orem Ipsum has beenthe standard dummy.</p>
              </div>
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      How can i pay ?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      How to setup account ?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      What is process to get refund?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      What is process to get refund?
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="blog-list section-padding">
            <div class="container">
              <div class="headings d-flex align-items-center mb-5">
                <div class="headings-ins w-50">
                   <span>Blogs</span>
                  <h2>Read latest story</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typese tting indus orem Ipsum has beenthe standard dummy.</p>
                </div>
                <a href="javascript:;" class="btn btn-secondary ms-auto">View all blogs</a>
              </div>
              <div class="row">
                <div class="col-md-4 blog-box">
                  <article>
                    <figure>
                      <a href="javascript:;">
                        <img src="assets/images/blog1.jpg">
                      </a>
                    </figure>
                    <figcaption>
                      <span>February 2, 2022</span>
                      <h4>
                        <a href="javascript:;">Introducing New Apps Design for our iOS App </a>
                      </h4>
                      <a href="javascript:;" class="link-btn">Read more <i class="ri-arrow-right-up-line"></i></a>
                    </figcaption>
                  </article>
                </div>
                <div class="col-md-4 blog-box">
                  <article>
                    <figure>
                      <a href="javascript:;">
                        <img src="assets/images/blog2.jpg">
                      </a>
                    </figure>
                    <figcaption>
                      <span>February 2, 2022</span>
                      <h4>
                        <a href="javascript:;">How to bring Dolce to your company </a>
                      </h4>
                      <a href="javascript:;" class="link-btn">Read more <i class="ri-arrow-right-up-line"></i></a>
                    </figcaption>
                  </article>
                </div>
                <div class="col-md-4 blog-box">
                  <article>
                    <figure>
                      <a href="javascript:;">
                        <img src="assets/images/blog3.jpg">
                      </a>
                    </figure>
                    <figcaption>
                      <span>February 2, 2022</span>
                      <h4>
                        <a href="javascript:;">17 Effective Ways to Monetize Mobile Apps </a>
                      </h4>
                      <a href="javascript:;" class="link-btn">Read more <i class="ri-arrow-right-up-line"></i></a>
                    </figcaption>
                  </article>
                </div>
              </div>
            </div>
          </section>

        </div>
    <footer>
      <div class="footer-top section-padding">
        <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="footer-logo-area">
                  <div class="footer-logo">
                    <a href="javascript:;">
                      <img src="assets/images/logo-footer.png">
                    </a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industrys standard dummy text ever.</p>
                  </div>
                  <div class="social-icon">
                    <a href="javascript:;"><i class="ri-facebook-fill"></i></a>
                    <a href="javascript:;"><i class="ri-instagram-line"></i></a>
                    <a href="javascript:;"><i class="ri-twitter-fill"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 ms-auto">
                <h4 class="footer-head">Useful Links</h4>
                <ul class="footer-link">
                  <li><a href="javascript:;">Home</a></li>
                  <li><a href="javascript:;">About Us</a></li>
                  <li><a href="javascript:;">Blog</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h4 class="footer-head">Help & Suport</h4>
                <ul class="footer-link">
                  <li><a href="javascript:;">FAQs</a></li>
                  <li><a href="javascript:;">Terms & conditions</a></li>
                  <li><a href="javascript:;">Privacy policy</a></li>
                  <li><a href="javascript:;">Contact</a></li>
                </ul>
              </div>
              <div class="col-md-2">
                <h4 class="footer-head">Download App</h4>
                <div class="footer-app">
                  <a href="javascript:;">
                    <img src="assets/images/play-store.svg">
                  </a>
                  <a href="javascript:;">
                    <img src="assets/images/app-store.svg">
                  </a>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="footer-copyright text-center">
        <span>© Copyrights 2022 Cashuu.  All rights reserved.</span>
      </div>
    </footer>


    <!-- modal-video -->
    <div class="modal fade" id="videomodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-body">
            <iframe width="560" height="315" id="video" src="https://www.youtube.com/embed/UZKKOG316eg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    
    

    <!-- -----java script------ -->
    <script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="assets/js/popper.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="assets/js/site.js"></script>
    </body>
</html>