{% extends "admin/base.html" %}
{% load static %}
{% block title %}| Store{% endblock %}
{% block body %}
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Store Listing</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Store Listing</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    {% if not search_record %}
                    <a href="{% url 'add_store' %}"><button class="btn btn-primary">Add Store</button></a>
                    {% else %}
                    <a href="{% url 'store_listing' %}"><button class="btn btn-primary">Cancel</button></a>
                    {% endif %}
                    <form class="search-flex d-flex" method="POST">
                        {% csrf_token %}
                        <input id="search-input" type="search" class="form-control" name="search_box" placeholder="Search...">
                        <button type="submit" class="btn btn-primary search-box">Search</button>
                    </form> 
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th> Sr.</th>
                                <th>Store Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Created At</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if not search_record %}
                            {% for store in page_obj %}
                            <tr> 
                                <td>{{forloop.counter0|add:page_obj.start_index}}</td>
                                <td>{{store.store_name}}</td>
                                <td><span class="badge badge-success">{{store.user.email}}</span></td>
                                <td>{{store.user.mobile}}</td>
                                <td><span class="badge badge-success">{{store.created}}</span></td>
                                <td><span class="badge badge-success">Active</span></td>
                                <td>
                                    <a href="{% url 'edit_store' store.user.slug %}" class="btn btn-success btn-sm"><i
                                            class="fas fa-edit"></i></a>
                                    <a href="{% url 'view_store' store.user.slug  %}" class="btn btn-info btn-sm"><i
                                            class="fas fa-info-circle"></i></a>
                                    <button type="button" href="{% if store.user.slug %} {% url 'delete_store' store.user.slug %} {% else %} {% url 'delete_store' store.user.slug_user %} {% endif %}"
                                        class="btn btn-danger btn-sm delete-btn delete-user">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <p>search keyword - {{search_object}}</p>
                            <p>search result - {{search_count}}</p>
                            {% for store in page_obj %}
                            <tr> 
                                <td>{{forloop.counter0|add:page_obj.start_index}}</td>
                                <td>{{store.store_name}}</td>
                                <td><span class="badge badge-success">{{store.user.email}}</span></td>
                                <td>{{store.user.mobile}}</td>
                                <td><span class="badge badge-success">{{store.created}}</span></td>
                                <td><span class="badge badge-success">Active</span></td>
                                <td>
                                    <a href="{% url 'edit_store' store.user.slug %}" class="btn btn-success btn-sm"><i
                                            class="fas fa-edit"></i></a>
                                    <a href="{% url 'view_store' store.user.slug  %}" class="btn btn-info btn-sm"><i
                                            class="fas fa-info-circle"></i></a>
                                    <button type="button" href="{% if store.user.slug %} {% url 'delete_store' store.user.slug %} {% else %} {% url 'delete_store' store.user.slug_user %} {% endif %}"
                                        class="btn btn-danger btn-sm delete-btn delete-user">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <br>
                {% if page_obj %}
                <nav aria-label="..." class="pagination-nav">
                    <ul class="pagination">
                        <li class="page-item">
                            {%if page_obj.has_previous %} {# whether the previous page exists #}
                            <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1">Previous</a>
                            {% endif %}
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">{{page_obj.number}} <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item">
                            {%if page_obj.has_next %} {# whether the next page exists #}
                            <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
                {% else %}
                No store found!
                {% endif %}
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    <!--Row-->
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to Delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                <a href="" class="btn btn-primary" id="user-delete-btn">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $('.delete-user').on('click', function() {
        $('#deleteModal').modal('show')
        $('#user-delete-btn').attr('href', $(this).attr('href'))
    })
</script>
{% endblock %}