<div class="sidebar-nav">
    <ul>
        {% url 'app_dashboard' as app_dashboard %}
        <li class="{% if request.path == app_dashboard %} active {% endif %}">
            <a href="{% if request.user.is_authenticated and not request.user.is_superuser %}
                    {% url 'app_dashboard' %}
                    {% endif %}">
                <div class="icon-nav">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" class="nc-icon-wrapper">
                            <path
                                d="M8.126 14a4.002 4.002 0 0 0 7.748 0M11.018 2.764L4.235 8.039c-.453.353-.68.53-.843.75a2 2 0 0 0-.318.65C3 9.704 3 9.991 3 10.565V17.8c0 1.12 0 1.68.218 2.108a2 2 0 0 0 .874.874C4.52 21 5.08 21 6.2 21h11.6c1.12 0 1.68 0 2.108-.218a2 2 0 0 0 .874-.874C21 19.48 21 18.92 21 17.8v-7.235c0-.574 0-.861-.074-1.126a2.002 2.002 0 0 0-.318-.65c-.163-.22-.39-.397-.843-.75l-6.783-5.275c-.351-.273-.527-.41-.72-.462a1 1 0 0 0-.523 0c-.194.052-.37.189-.721.462z"
                                stroke="#212121" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </div>
                <span>Dashboard</span>
            </a>
        </li>
        {% url 'app_bid_request' as app_bid_request %}
        <li class="{% if request.path == app_bid_request %} active {% endif %}">
            <a href="{% if request.user.is_authenticated and not request.user.is_superuser %}
                    {% url 'app_bid_request' %}
                    {% endif %}">
                <div class="icon-nav">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24"
                        height="24" viewBox="0 0 24 24">
                        <path id="Path_33469" data-name="Path 33469"
                            d="M13.959,6.173,12.318,7.905a9.514,9.514,0,0,0-2.044,3.317l-.81,2.243a1.986,1.986,0,0,1-2.732.649L3.252,11.97A1.986,1.986,0,0,1,2.6,9.238L4.243,7.506A9.514,9.514,0,0,0,6.287,4.188L7.1,1.945A1.986,1.986,0,0,1,9.829,1.3l3.48,2.145A1.986,1.986,0,0,1,13.959,6.173Z"
                            transform="translate(-0.241 -0.105)" fill="none" stroke="#000" stroke-miterlimit="10"
                            stroke-width="2" />
                        <line id="Line_50" data-name="Line 50" y1="5.337" x2="3.289" transform="translate(6.395 4.932)"
                            fill="none" stroke="#000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" />
                        <path id="Path_33470" data-name="Path 33470"
                            d="M11.727,11.369l7.025,5.053a1.595,1.595,0,1,0,1.668-2.708l-7.672-4"
                            transform="translate(-1.224 -1.014)" fill="none" stroke="#000" stroke-linecap="round"
                            stroke-miterlimit="10" stroke-width="2" />
                        <path id="Rectangle_18100" data-name="Rectangle 18100"
                            d="M2.01,0h.456A2.011,2.011,0,0,1,4.478,2.011V7.84A2.011,2.011,0,0,1,2.467,9.851H2.01A2.01,2.01,0,0,1,0,7.841V2.01A2.01,2.01,0,0,1,2.01,0Z"
                            transform="translate(0.845 20.961) rotate(-88.36)" fill="none" stroke="#000"
                            stroke-miterlimit="10" stroke-width="2" />
                    </svg>

                </div>
                <span>Bid</span>
            </a>
        </li>
        {% url 'user_loan_history' as user_loan_history %}
        {% url 'lender_loan_history' as lender_loan_history %}
        {% url 'lending_box_loan_history' as lending_box_loan_history %}
        <li class="{% if request.path == user_loan_history or request.path == lender_loan_history or request.path == lending_box_loan_history %} active {% endif %}">
            <a href="{% if request.user.is_authenticated and not request.user.is_superuser %}{{ user_loan_history }}{% endif %}">
                <div class="icon-nav">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" class="nc-icon-wrapper">
                            <path
                                d="M2 10s2.005-2.732 3.634-4.362A9 9 0 1 1 12 21a9.004 9.004 0 0 1-8.648-6.5M2 10V4m0 6h6"
                                stroke="#212121" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </div>
                <span>History</span>
            </a>
        </li>
        {% url 'subscription_listing' as subscription_listing %}
        <li class="{% if request.path == subscription_listing %} active {% endif %}">
            <a href="{% if request.user.is_authenticated and not request.user.is_superuser %}{{ subscription_listing }}{% endif %}" class="dropdown-item">
              <div class="icon-nav">
                <svg id="file-02" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path id="Icon" d="M0,4.8A7.453,7.453,0,0,1,.327,1.638,3,3,0,0,1,1.638.327,7.453,7.453,0,0,1,4.8,0h6.4a7.453,7.453,0,0,1,3.162.327,3,3,0,0,1,1.311,1.311A7.453,7.453,0,0,1,16,4.8V15.2a7.453,7.453,0,0,1-.327,3.162,3,3,0,0,1-1.311,1.311A7.453,7.453,0,0,1,11.2,20H4.8a7.453,7.453,0,0,1-3.162-.327A3,3,0,0,1,.327,18.362,7.453,7.453,0,0,1,0,15.2Z" transform="translate(4 2)" fill="none" stroke="#212121" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  <path id="Icon-2" data-name="Icon" d="M10,9H4m2,4H4m8-8H4" transform="translate(4 2)" fill="none" stroke="#212121" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                </svg>

              </div>
              <span>Subscription </span>
            </a>
          </li>
          {% comment %} <li>
            <a href="#" class="dropdown-item">
              <div class="icon-nav">
                <svg id="arrows-triangle" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path id="Icon" d="M16,2.165l-1.1,4.1-4.1-1.1" transform="translate(2 2.835)" fill="none" stroke="#212121" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  <path id="Icon-2" data-name="Icon" d="M0,8.763l4.1-1.1,1.1,4.1" transform="translate(2 2.835)" fill="none" stroke="#212121" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  <path id="Icon-3" data-name="Icon" d="M13.5,19.165l-3-3,3-3" transform="translate(2 2.835)" fill="none" stroke="#212121" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  <path id="Icon-4" data-name="Icon" d="M17.028,9.665l1,1.631c.973,1.592,1.459,2.387,1.4,3.043a2,2,0,0,1-.8,1.435c-.53.391-1.462.391-3.327.391H11m-4.5,0H4.706c-1.865,0-2.8,0-3.327-.391a2,2,0,0,1-.8-1.435c-.057-.656.429-1.451,1.4-3.043L4.13,7.77M6.25,4.3l1.02-1.669C8.172,1.155,8.624.417,9.2.165a2,2,0,0,1,1.59,0c.581.252,1.033.99,1.935,2.468l2.158,3.532" transform="translate(2 2.835)" fill="none" stroke="#212121" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                </svg>
              </div>
              <span>Transferred loan request</span>
            </a>
          </li> {% endcomment %}

        {% url 'app_lender_wallet' as app_lender_wallet %}
        <li class="{% if request.path == app_lender_wallet %} active {% endif %} show-loader">
            <a href="{{ app_lender_wallet }}" class="dropdown-item">
                <div class="icon-nav">
                    <svg id="wallet-03" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path id="Icon" d="M14,11a.5.5,0,1,1-.5-.5A.5.5,0,0,1,14,11Z" transform="translate(3 3)" fill="none"
                            stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                        <path id="Icon-2" data-name="Icon"
                            d="M16,18H2a2,2,0,0,1-2-2V2A2,2,0,0,0,2,4H16a2,2,0,0,1,2,2V16A2,2,0,0,1,16,18Z"
                            transform="translate(3 3)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" />
                        <path id="Icon-3" data-name="Icon" d="M13.5,11h.01M0,2A2,2,0,0,1,2,0H14" transform="translate(3 3)"
                            fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                    </svg>
                </div>
                <span>Wallet</span>
            </a>
        </li>
        {% url 'app_cashuu_score' as app_cashuu_score %}
        <li class="{% if request.path == app_cashuu_score %} active {% endif %}">
            <a href="{% url 'app_cashuu_score' %}">
                <div class="icon-nav">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" class="nc-icon-wrapper">
                            <path
                                d="M5 12a7 7 0 0 1 7-7m4.5 2.5L12 12m10 0c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10zm-9 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                                stroke="#212121" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </div>
                <span>Cashuu Score</span>
            </a>
        </li>
        {% url 'app_profile' as app_profile %}
        <li class="{% if request.path == app_profile %} active {% endif %}">
            <a href="{% url 'app_profile' %}">
                <div class="icon-nav">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" class="nc-icon-wrapper">
                            <path
                                d="M20 21c0-1.396 0-2.093-.172-2.661a4 4 0 0 0-2.667-2.667c-.568-.172-1.265-.172-2.661-.172h-5c-1.396 0-2.093 0-2.661.172a4 4 0 0 0-2.667 2.667C4 18.907 4 19.604 4 21M16.5 7.5a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0z"
                                stroke="#212121" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </div>
                <span>My Profile</span>
            </a>
        </li>
        {% url 'user_accounts' as user_accounts %}
        <li class="{% if request.path == user_accounts %}active{% endif %} show-loader">
            <a href="{{ user_accounts }}">
                <div class="icon-nav">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" class="nc-icon-wrapper">
                            <path
                                d="M22 10H2m9 4H6M2 8.2v7.6c0 1.12 0 1.68.218 2.108a2 2 0 0 0 .874.874C3.52 19 4.08 19 5.2 19h13.6c1.12 0 1.68 0 2.108-.218a2 2 0 0 0 .874-.874C22 17.48 22 16.92 22 15.8V8.2c0-1.12 0-1.68-.218-2.108a2 2 0 0 0-.874-.874C20.48 5 19.92 5 18.8 5H5.2c-1.12 0-1.68 0-2.108.218a2 2 0 0 0-.874.874C2 6.52 2 7.08 2 8.2z"
                                stroke="#212121" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </div>
                <span>My Banks</span>
            </a>
        </li>
        {% url 'app_address' as app_address %}
        <li class="{% if request.path == app_address %} active {% endif %}">
            <a href="{% url 'app_address' %}">
                <div class="icon-nav">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" class="nc-icon-wrapper">
                            <path d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" stroke="#212121" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M12 22c4-4 8-7.582 8-12a8 8 0 1 0-16 0c0 4.418 4 8 8 12z" stroke="#212121"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </div>
                <span>My Address </span>
            </a>
        </li>
        {% url 'app_notification_sittings' as app_notification_sittings %}
        <li class="{% if request.path == app_notification_sittings %} active {% endif %}">
            <a href="{% url 'app_notification_sittings' %}">
                <div class="icon-nav">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" class="nc-icon-wrapper">
                            <path
                                d="M15 19a3 3 0 1 1-6 0m4.796-12.761a2.5 2.5 0 1 0-3.593 0M18 11.2c0-1.38-.632-2.702-1.758-3.677C15.117 6.548 13.591 6 12 6c-1.592 0-3.118.548-4.243 1.523C6.632 8.498 6 9.821 6 11.2c0 2.282-.566 3.95-1.272 5.145-.805 1.36-1.207 2.041-1.191 2.204.018.186.051.244.202.355.132.096.794.096 2.119.096h12.284c1.324 0 1.987 0 2.118-.096.151-.11.185-.17.203-.355.016-.163-.387-.843-1.191-2.204C18.566 15.15 18 13.482 18 11.2z"
                                stroke="#212121" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </div>
                <span>Notification Setting </span>
            </a>
        </li>
        {% url 'user_change_password' as user_change_password %}
        <li class="{% if request.path == user_change_password %} active {% endif %}">
            <a href="{% url 'user_change_password' %}">
                <div class="icon-nav">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" class="nc-icon-wrapper">
                            <path
                                d="M17 9c0-.512-.195-1.024-.586-1.414A1.994 1.994 0 0 0 15 7m0 8a6 6 0 1 0-5.946-5.193c.058.434.087.651.068.789a.853.853 0 0 1-.117.346c-.068.121-.187.24-.426.479l-5.11 5.11c-.173.173-.26.26-.322.36a1 1 0 0 0-.12.29C3 17.296 3 17.418 3 17.663V19.4c0 .56 0 .84.109 1.054a1 1 0 0 0 .437.437C3.76 21 4.04 21 4.6 21H7v-2h2v-2h2l1.58-1.58c.238-.238.357-.357.478-.425a.852.852 0 0 1 .346-.117c.138-.02.355.01.789.068.264.036.533.054.807.054z"
                                stroke="#212121" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </div>
                <span>Change Password</span>
            </a>
        </li>
    </ul>
    <hr>
    <ul class="logout-li">
        <li>
            <a href="{% url 'user_logout' %}">
                <div class="icon-nav">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" class="nc-icon-wrapper">
                            <path
                                d="M16 17l5-5m0 0l-5-5m5 5H9m3 5c0 .93 0 1.395-.102 1.776a3 3 0 0 1-2.122 2.122C9.395 21 8.93 21 8 21h-.5c-1.398 0-2.097 0-2.648-.228a3 3 0 0 1-1.624-1.624C3 18.597 3 17.898 3 16.5v-9c0-1.398 0-2.097.228-2.648a3 3 0 0 1 1.624-1.624C5.403 3 6.102 3 7.5 3H8c.93 0 1.395 0 1.776.102a3 3 0 0 1 2.122 2.122C12 5.605 12 6.07 12 7"
                                stroke="#212121" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </div>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</div>

<script>
    document.querySelectorAll('.show-loader').forEach(function(element) {
        element.addEventListener('click', function(e) {
            $("#loader").remove()
            $(`<div id="loader" style="position: fixed; z-index: 9999999;"><div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span></div></div>`).appendTo('body')
        })
    })
</script>