{% extends "admin/base.html" %}
{% load static %}
{% block title %}| Social Account{% endblock %}
{% block body %}
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Social Account</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Social Account</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <a href="{% url 'add_social' %}"><button class="btn btn-primary">Add Scoial Link</button></a>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Sr.</th>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Image</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in testimonial %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.name}}</td>
                                <td>{{i.position}}</td>
                                {% if i.image %}
                                <td><img src="{{i.image.url}}" alt="{{i.name}}"
                                        style="width: 40px; height: 50px; border-radius: 50%;"></td>
                                {% else %}
                                <td>none</td>
                                {% endif %}
                                <td><span class="badge badge-success">{% if i.is_active %}Active</span><span
                                        class="badge badge-danger">{% else %}Deactivate{% endif %}</span></td>
                                <td>
                                    <a href="/adminpanel/editTestimonial/{{i.slug}}" class="btn btn-success btn-sm">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="/adminpanel/viewTestimonial/{{i.slug}}" class="btn btn-info btn-sm">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    <button type="button" href="/adminpanel/deleteTestimonial/{{i.slug}}"
                                        class="btn btn-danger btn-sm delete-btn delete-testimonial"><i
                                            class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to Delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                <a href="" class="btn btn-primary" id="testimonial-delete-btn">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $('.delete-testimonial').on('click', function () {
        $('#deleteModal').modal('show')
        $('#testimonial-delete-btn').attr('href', $(this).attr('href'))
    })
</script>
{% endblock %}