{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}| OTP Verification{% endblock %}
{% block bodyclass %}class="inner-pages"{% endblock %}
{% block body %}
        <div class="site-container">
          <div class="py-5">
            <div class="container">
              <div class="login-box card-shadow">
                <div class="login-head text-center">
                  <figure>
                    <img src="{% static 'frontend/assets/images/verification.svg' %}">
                  </figure>
                  <h4>OTP verification</h4>
                  <p>Enter the verification code we just sent you on your email address.</p>
                </div>
                <div class="form-box">
                  <form class="needs-validation verification-box" method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group mb-4">
                          <input type="text" class="form-control" maxlength="1" name="otp1" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group mb-4">
                          <input type="text" class="form-control" maxlength="1" name="otp2" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group mb-4">
                          <input type="text" class="form-control" maxlength="1" name="otp3" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group mb-4">
                          <input type="text" class="form-control" maxlength="1" name="otp4" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </div>
                      </div>
                    </div>  
                    <div class="form-group mb-0">
                      <button class="btn btn-primary w-100" type="submit">Submit</button>
                    </div>
                    <!-- <div class="new-user-text">
                      <button class="btn btn-primary w-100" type="submit" name="resend_otp">Resend</button>
                    </div> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}